coverage
rdoc
doc
.yardoc
.bundle
pkg

spec/tmp/*
spec/tmp/**/*
spec/database.yml

spec/dummy/config/initializers/subscribed_to.rb.example
spec/dummy/log/*
spec/dummy/db/*.sqlite3
spec/dummy/tmp/*
spec/dummy/tmp/**/*
